<footer>
    <div class="socials">
        <div class="icons">
            <i class="pi pi-facebook"></i>
            <i class="pi pi-twitter"></i>
            <i class="pi pi-discord"></i>
            <i class="pi pi-reddit"></i>
            <i class="pi pi-linkedin"></i>
        </div>
    </div>
    <div class="info">
        <div class="links">
            <a href=""> Smartphones </a>
            <a href=""> Offers </a>
            <a href=""> About Us </a>
        </div>
        <span class="rights-reserved"> All rights reserved© </span>
        <div class="hotel-res">
            <a href="">
                <img src="assets/images/logo.PNG" alt="">
            </a>
        </div>
    </div>
</footer>

