<div class="container">
    <main class="grid-container">
        <nav>
            <strong><a routerLink="/"><i class="fa-solid fa-chevron-left"></i> Mobile Phones</a></strong>
        </nav>
        <aside class="filter">
            <form [formGroup]="searchForm">
                <div class="filter-clear filter-item">
                    <strong>Filter</strong>
                    <span><i class="fa-solid fa-trash"></i> Clear</span>
                </div>
                <div class="price filter-item">
                    <strong>Price</strong>
                    <div class="price-inputs">
                        <div class="min">
                            <!-- <span>Min</span> -->
                            <input formControlName="priceMin" placeholder="Min">
                        </div>
                        <div class="max">
                            <input formControlName="priceMax" placeholder="Max">
                            <!-- <span>Max</span> -->
                        </div>
                    </div>
                </div>
                <div class="brands filter-item">
                    <strong>Brands</strong>
                    <div>
                        <p-checkbox formControlName="brand" value="iphone" inputId="ip"></p-checkbox>
                        <label for="ip">iPhone</label>
                    </div>
                    <div>
                        <p-checkbox formControlName="brand" value="google" inputId="gg"></p-checkbox>
                        <label for="gg">Google</label>
                    </div>
                    <div>
                        <p-checkbox formControlName="brand" value="samsung" inputId="sm"></p-checkbox>
                        <label for="sm">Samsung</label>
                    </div>
                    <div>
                        <p-checkbox formControlName="brand" value="xiaomi" inputId="xm"></p-checkbox>
                        <label for="xm">Xiaomi</label>
                    </div>
                    <p>See more...</p>
                </div>
                <div class="screen-size filter-item">
                    <strong>Screen Size</strong>
                    <div>
                        <p-checkbox formControlName="screenSize" value="6.2" inputId="6.2"></p-checkbox>
                        <label for="6.2">6.2 Inch</label>
                    </div>
                    <div>
                        <p-checkbox formControlName="screenSize" value="6.3" inputId="6.3"></p-checkbox>
                        <label for="6.3">6.3 Inch</label>
                    </div>
                    <div>
                        <p-checkbox formControlName="screenSize" value="6.1" inputId="6.1"></p-checkbox>
                        <label for="6.1">6.1 Inch</label>
                    </div>
                    <div>
                        <p-checkbox formControlName="screenSize" value="6.5" inputId="6.5"></p-checkbox>
                        <label for="6.5">6.5 Inch</label>
                    </div>
                    <p>See more...</p>
                </div>
                <div class="ram filter-item">
                    <div>
                        <p-checkbox formControlName="ram" value="4" inputId="4"></p-checkbox>
                        <label for="4">4 GB</label>
                    </div>
                    <div>
                        <p-checkbox formControlName="ram" value="6" inputId="6"></p-checkbox>
                        <label for="6">6 GB</label>
                    </div>
                    <div>
                        <p-checkbox formControlName="ram" value="8" inputId="8"></p-checkbox>
                        <label for="8">8 GB</label>
                    </div>
                    <div>
                        <p-checkbox formControlName="ram" value="12" inputId="12"></p-checkbox>
                        <label for="12">12 GB</label>
                    </div>
                    <p>See more...</p>
                </div>
            </form>
        </aside>
        <section class="smartphones">
            <div *ngFor="let smartphone of smartphones">
                <app-product-card [smartphone]="smartphone"></app-product-card>
            </div>
        </section>
    </main>
</div>