<div class="card">
    <div class="image-space" (click)="navigateToSmartphone(smartphone._id)">
        <img class="image" [src]="smartphone.imageUrls[0]" [alt]="smartphone.model">
    </div>
    <div class="info" (click)="navigateToSmartphone(smartphone._id)">
        <p class="price"> {{smartphone.price}}$ </p>
        <span class="product-title"> {{ smartphone.brand }} {{ smartphone.model }} / {{smartphone.storage}}GB </span>
    </div>
    <div class="buttons">
        <button class="compare-button"><i class="pi pi-arrows-h"></i></button>
        <button class="cart-button"><i class="pi pi-shopping-cart"></i></button>
    </div>
</div>