.grid-container {
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 30px 0;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
