<main class="container">
    <strong>WHAT WE OFFER</strong>
    <div class="grid-container">
        <div class="short">
            <h3>Premium Quality</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nulla quae nisi porro. Nemo, natus.
            </p>
        </div>
        <div class="tall">
            <img src="assets/images/iphone_15.webp" alt="">
        </div>
        <div class="short">
            <h3>Futuristic Design</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptas ducimus adipisci sint omnis ipsa?
            </p>
        </div>
        <div class="tall">
            <img src="assets/images/samsung_s24.webp" alt="">
        </div>
        <div class="tall">
            <img src="assets/images/pixel_8.webp" alt="">
        </div>
        <div class="tall">
            <h3>Amazing Camera</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum unde explicabo eius?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum unde explicabo eius?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum unde explicabo eius?
            </p>
        </div>
        <div class="tall">
            <img src="assets/images/xiaomi_14.webp" alt="">
        </div>
        <div class="short">
            <h3>New Features</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum unde explicabo eius?
            </p>
            <!-- <a href="">Read More</a> -->
        </div>
        <div class="short">
            <h3>All in One experience</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum unde explicabo eius?
            </p>
            <!-- <a href="">Read More</a> -->
        </div>
    </div>
</main>