.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 300px;
    font-family: 'Poppins';
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 854px) {
    .login-container {
        padding: 100px 20px;
    }
}

@media screen and (max-width: 240px) {
    .login-container {
        padding: 100px 0px;
    }
}