    <main class="container">
        <section class="intro">
            <div class="get-started">
                <h1 class="title">Discover the Future of Connectivity</h1>
                <p class="info">
                    Welcome to PhoneSpace, Dive into a world of smartphones, sleek designs, and powerful features that redefine connectivity. Explore our collection of devices and embark on a journey towards a smarter, more connected future!
                </p>
                <a href="/smartphones"><button class="explore-button">Explore</button></a>
            </div>
            <img class="avatar" src="assets/images/avatar.png" alt="">
        </section>
        <section class="brands">
            <span>Top Brands</span>
            <div class="slider-container">
                <app-image-slider [images]="images"></app-image-slider>
            </div>
            <div class="brands-mobile">
                <img class="brand" src="assets/images/apple.png" alt="apple">
                <img class="brand" src="assets/images/google.png" alt="google">
                <img class="brand" src="assets/images/samsung.png" alt="samsung">
                <img class="brand" src="assets/images/mi.png" alt="xiaomi">
            </div>
        </section>
        <section class="best-sellers">
            <span class="best-sellers-title">Best Sellers</span>
            <div class="product-container">
                <div *ngFor="let item of topSellers">
                    <app-product-card [smartphone]="item" (click)="navigateToSmartphone(item._id)"></app-product-card>
                </div>       
            </div>
        </section>
    </main>