<div class="burger-menu" [class.active]="isMenuOpen">
    <i style="font-size: 20px;" class="fa-solid fa-bars" (click)="toggleMenu()"></i>
    <ul class="menu-items" [ngClass]="{ 'active': isMenuOpen }">
        <li>
            <i class="fa-solid fa-house"></i>
            <a routerLink="/">Home</a>
        </li>
        <li>
            <i class="fa-solid fa-mobile"></i>
            <a routerLink="/smartphones">Smartphones</a>
        </li>
        <li>
            <i class="fa-solid fa-ticket"></i>
            <a routerLink="/offers">Offers</a>
        </li>
        <li>
            <i class="fa-solid fa-circle-question"></i>
            <a routerLink="/about">About</a>
        </li>
        <div class="line"></div>
        <li class="user">
            <a> 
                <p-button icon="pi pi-sign-in" label="Sign In" severity="help" *ngIf="!isLoggedIn"></p-button>
            </a>
            <a>
                <p-button icon="pi pi-user" label="Sign Up" severity="help" [text]="true" *ngIf="!isLoggedIn"></p-button>
            </a>
            <a>
                <p-button icon="pi pi-sign-out" label="Logout" severity="help" *ngIf="isLoggedIn"></p-button>
            </a>
        </li>
    </ul>
  </div>