.burger-menu {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.burger-icon {
    width: 40px;
}

.menu-items {
    list-style: none;
    padding: 0;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 5px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, height 0.3s ease;
}

.menu-items .line {
    width: 90%;
    height: 1px;
    background-color: black;
}

.menu-items .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-items.active {
    opacity: 1;
    height: max-content;
    width: max-content; 
}

.menu-items li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
    padding: 3px 10px;
}

.menu-items li a {
    text-decoration: none;
    color: #000;
    display: block;
    transition: color 0.3s ease;
}

.menu-items li a:hover {
    color: #333;
    background-color: #f0f0f0;
    border-radius: 3px;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.language button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.language button.active {
    border-bottom: 2px solid #a855f7;
    color: #a855f7;
}
