<div class="burger-menu" [class.active]="isMenuOpen">
    <i style="font-size: 20px;" class="fa-solid fa-bars" (click)="toggleMenu()"></i>
    <ul class="menu-items" [ngClass]="{ 'active': isMenuOpen }">
        <li>
            <i class="fa-solid fa-house"></i>
            <a routerLink="/">მთავარი</a>
        </li>
        <li>
            <i class="fa-solid fa-mobile"></i>
            <a routerLink="/smartphones">სმარტფონები</a>
        </li>
        <li>
            <i class="fa-solid fa-ticket"></i>
            <a routerLink="/offers">შეთავაზებები</a>
        </li>
        <li>
            <i class="fa-solid fa-circle-question"></i>
            <a routerLink="/about-us">ჩვენს შესახებ</a>
        </li>
        <div class="line"></div>
        <li class="user">
            <a> 
                <p-button icon="pi pi-sign-in" label="ავტორიზაცია" severity="help" *ngIf="!isLoggedIn"></p-button>
            </a>
            <a>
                <p-button icon="pi pi-user" label="რეგისტრაცია" severity="help" [text]="true" *ngIf="!isLoggedIn"></p-button>
            </a>
            <a>
                <p-button icon="pi pi-sign-out" label="გასვლა" severity="help" *ngIf="isLoggedIn"></p-button>
            </a>
        </li>
    </ul>
  </div>