.grid-container {
    font-family: 'Poppins';
    margin: 20px;
}

h2 {
    color: #333;
}

p {
    color: #838b8a;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;
    padding: 70px 10px;
    gap: 50px;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

article {
    grid-column: span 3;
    border-bottom: 1px solid #ddd;
    padding-bottom: 50px;
}

article img {
    width: 400px;
}


@media screen and (max-width: 1488px) {
    .container {
        max-width: 1000px;
    }
    
    article img {
        width: 300px;
    }
}

@media screen and (max-width: 1488px) {
    
    .container {
        padding: 70px 30px;
    }
    
    article {
        flex-direction: column;
    }
}

@media screen and (max-width: 464px) {
    
    article img {
        width: 200px;
    }
}