<main class="container">
    <article class="special-offer">
        <img src="assets/images/special-offer.svg" alt="special offer">
        <div>
            <h2>Special Offer</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt doloribus, dicta cumque amet labore praesentium autem. Pariatur reprehenderit quibusdam maiores veritatis aut inventore ipsam aspernatur et placeat recusandae eos, ipsum, praesentium itaque. Facere voluptatibus beatae dolorem sunt iusto, necessitatibus repellat?</p>
            <p-button label="Get offer" severity="help"></p-button>
        </div>
    </article>
    <article class="gift-offer">
        <img src="assets/images/gift-offer.svg" alt="gifts offer">
        <div>
            <h2>Birthday Offer</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas quasi placeat laboriosam praesentium provident labore quos asperiores autem possimus quia!</p>
            <p-button label="Get offer" severity="help"></p-button>
        </div>
    </article>
    <article class="wishlist-offer">
        <img src="assets/images/wishlist.svg" alt="wishlist">
        <div>
            <h2>Make a Wishlist</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas quasi placeat laboriosam praesentium provident labore quos asperiores autem possimus quia!</p>
            <p-button label="Get offer" severity="help"></p-button>
        </div>
    </article>
</main>